.main-inicio{
    display: grid;
    width: 100%;
    height: 800px;
    grid-template: repeat(1,800px)/repeat(2,1fr);
    grid-template-areas: "imagen1 imagen2";
    .imagen1{
        grid-area: imagen1;
        background-image: url(../assets/img/img1.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 35%;
        a{
            text-decoration: none;
            font-weight: 900;
            font-size: 40px;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0.473);
            &:hover{
                font-size: 60px;
                text-decoration: underline;
            }
        }     
    }
    .imagen2{
        grid-area: imagen2;
        background-image: url(../assets/img/img2.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 35%;
        a{
            text-decoration: none;
            font-weight: 900;
            font-size: 40px;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0.473);
            &:hover{
                font-size: 60px;
                text-decoration: underline;
            }
        } 
    }
}