.main-sesion{
    width: 100%;
    height: 730px;
    background-image: url(../assets/img/img6.jpg);
    background-position: 50% 55%;
    background-size: cover;
    opacity: 0.8;
    section{
        display: flex;
        justify-content: space-evenly;
        padding-top: 200px;
        div{
            padding:10px;
            h3{
                padding-left: 10px;
            }
            .form-sesion{
                width: 70%;
                padding-top: 40px;
                text-align: center;
            }
            .no-cuenta{
                padding-bottom: 50px;
            }
            .btn-registrar{
                padding-left: 55px;
                padding-right: 55px;
                position: relative;
                left: 10px;
            }
        }
    }
}